# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
log
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Golang
config.default.toml
config.test.*
config.backup.*
logs
*.log
cmd/wire_gen.go
wechat-storage.json
customs-dir

# docs
*.pdf

# Local env files
.env
.env.*
!.env.example
